* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --black: #333333;
  --white: #f5f5f5;
	--transition: 0.5s ease;
}

.dark-theme {
  --page-background: #000000;
  --contrast-color: white;
  --shadow-box: rgba(255, 255, 255, 0.486);
  --sun-moon: white;
  --box-shadow: 0 0 2em white;
  --ilumination: brightness(30%);
  --floor: #120B1A;
}

.light-theme {
  --page-background: white;
  --contrast-color: black;
  --shadow-box: rgba(0, 0, 0, 0.486);
  --sun-moon: orange;
  --box-shadow: 0 0 10px orange,
    0 0 60px orange,
    0 0 200px yellow,
    inset 0 0 80px yellow;
  --ilumination: brightness(80%);
  --floor: #1c0522;
}

.light-theme {
  background-color: var(--page-background);
  color: var( --contrast-color);
}

.dark-theme {
  background-color: var(--page-background);
  color: var( --contrast-color);
}

.firstArea {
  height: 110vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 2px purple solid; */
  overflow: hidden;
}

.firstArea img {
  height: 520px;
  margin: auto;
}

.appresentation {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.x {
  position: absolute;
  border: 2px blue solid;
  width: 90%;
  height: 580px;
  margin-top: 70px;
  background-color: #50409A;
}

.about-me {
  width: 90%;
  height: 620px;
  background-color: var(--page-background);
  display: grid;
  border: 2px red solid;
}

/* CHANGE MODE BUTTON  */

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.toggle {
  height: 41px;
  width: 104px;
  background: #7C238C;
  border-radius: 30px;
  padding: 5px;
  position: relative;
  margin: auto;
  cursor: pointer;
}

.toggle::before {
  content: "";
  display: block;
  height: 28px;
  width: 28px;
  border-radius: 30px;
  background: var(--white);
  position: absolute;
  z-index: 2;
  transform: translate(0);
  transition: transform var(--transition);
}

.toggle.enabled::before {
  transform: translateX(65px);
}

.toggle input {
	position: absolute;
	top: 0;
  opacity: 0;
}

.toggle .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 5px;
}

.toggle .icons .mode-icon {
  fill: var(--white);
  height: 20px;
  width: 20px;
  z-index: 0;
}

/* hamb btn */

/* .btn-mobile {
  padding: 15px;
  background: var(--contrast-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-size: 1.5rem;
  gap: 5px;
  margin-right: 20px;
  box-shadow: 0rem 0 55px var(--shadow-box);
  z-index: 100;
  position: fixed;
  left: 20px;
  top: 10px;
}

#hamb {
  width: 20px;
  height: 20px;
  border-top: 2px var(--page-background) solid;
  transition: .1s;
  z-index: 100;
}

#hamb::after, #hamb::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--page-background);
  margin-top: 5px;
  position: relative;
  transition: .3s;
}

.active #hamb {
  border-top: none;
}

.active #hamb::before {
  transform: rotate(135deg);
}

.active #hamb::after {
  transform: rotate(-135deg);
  top: -7px;
}

#nav-bar .menu {
  display: flex;
  position: absolute;
  top: -10px;
  z-index: 10;
  background-color: var(--contrast-color);
  width: 0;
  transition: .2s;
  flex-direction: column;
  height: calc(100vh + 10px);
  visibility: hidden;
  overflow: hidden;
}

#nav-bar.active .menu {
  width: 30%;
  position: fixed;
  visibility: visible;
  overflow-y: auto;
}

.menu a{
  align-self: center;
  text-align: end;
  justify-self: end;
  padding: 2rem;
  margin-top: 70px;
  width: 100%;
  color: var(--page-background);
  text-align: center;
}

.menu a:last-of-type {
  margin-bottom: 60px;
}

.menu a:hover{
  background-color: #7C238C;
  cursor: pointer;
} */

#triangle {
  position: relative;
  top: 20px;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  border-radius: 100%;
  box-shadow: 779px 1331px #7C238C, 324px 42px #7C238C, 303px 586px #7C238C,
  1312px 276px #7C238C, 451px 625px #7C238C, 521px 1931px #7C238C, 1087px 1871px #7C238C,
  36px 1546px #7C238C, 132px 934px #7C238C, 1698px 901px #7C238C, 1418px 664px #7C238C,
  1448px 1157px #7C238C, 1084px 232px #7C238C, 347px 1776px #7C238C, 1722px 243px #7C238C,
  1629px 835px #7C238C, 479px 969px #7C238C, 1231px 960px #7C238C, 586px 384px #7C238C,
  164px 527px #7C238C, 8px 646px #7C238C, 1150px 1126px #7C238C, 665px 1357px #7C238C,
  1556px 1982px #7C238C, 1260px 1961px #7C238C, 1675px 1741px #7C238C,
  1843px 1514px #7C238C, 718px 1628px #7C238C, 242px 1343px #7C238C, 1497px 1880px #7C238C,
  1364px 230px #7C238C, 1739px 1302px #7C238C, 636px 959px #7C238C, 304px 686px #7C238C,
  614px 751px #7C238C, 1935px 816px #7C238C, 1428px 60px #7C238C, 355px 335px #7C238C,
  1594px 158px #7C238C, 90px 60px #7C238C, 1553px 162px #7C238C, 1239px 1825px #7C238C,
  1945px 587px #7C238C, 749px 1785px #7C238C, 1987px 1172px #7C238C, 1301px 1237px #7C238C,
  1039px 342px #7C238C, 1585px 1481px #7C238C, 995px 1048px #7C238C, 524px 932px #7C238C,
  214px 413px #7C238C, 1701px 1300px #7C238C, 1037px 1613px #7C238C, 1871px 996px #7C238C,
  1360px 1635px #7C238C, 1110px 1313px #7C238C, 412px 1783px #7C238C, 1949px 177px #7C238C,
  903px 1854px #7C238C, 700px 1936px #7C238C, 378px 125px #7C238C, 308px 834px #7C238C,
  1118px 962px #7C238C, 1350px 1929px #7C238C, 781px 1811px #7C238C, 561px 137px #7C238C,
  757px 1148px #7C238C, 1670px 1979px #7C238C, 343px 739px #7C238C, 945px 795px #7C238C,
  576px 1903px #7C238C, 1078px 1436px #7C238C, 1583px 450px #7C238C, 1366px 474px #7C238C,
  297px 1873px #7C238C, 192px 162px #7C238C, 1624px 1633px #7C238C, 59px 453px #7C238C,
  82px 1872px #7C238C, 1933px 498px #7C238C, 1966px 1974px #7C238C, 1975px 1688px #7C238C,
  779px 314px #7C238C, 1858px 1543px #7C238C, 73px 1507px #7C238C, 1693px 975px #7C238C,
  1683px 108px #7C238C, 1768px 1654px #7C238C, 654px 14px #7C238C, 494px 171px #7C238C,
  1689px 1895px #7C238C, 1660px 263px #7C238C, 1031px 903px #7C238C, 1203px 1393px #7C238C,
  1333px 1421px #7C238C, 1113px 41px #7C238C, 1206px 1645px #7C238C, 1325px 1635px #7C238C,
  142px 388px #7C238C, 572px 215px #7C238C, 1535px 296px #7C238C, 1419px 407px #7C238C,
  1379px 1003px #7C238C, 329px 469px #7C238C, 1791px 1652px #7C238C, 935px 1802px #7C238C,
  1330px 1820px #7C238C, 421px 1933px #7C238C, 828px 365px #7C238C, 275px 316px #7C238C,
  707px 960px #7C238C, 1605px 1554px #7C238C, 625px 58px #7C238C, 717px 1697px #7C238C,
  1669px 246px #7C238C, 1925px 322px #7C238C, 1154px 1803px #7C238C, 1929px 295px #7C238C,
  1248px 240px #7C238C, 1045px 1755px #7C238C, 166px 942px #7C238C, 1888px 1773px #7C238C,
  678px 1963px #7C238C, 1370px 569px #7C238C, 1974px 1400px #7C238C, 1786px 460px #7C238C,
  51px 307px #7C238C, 784px 1400px #7C238C, 730px 1258px #7C238C, 1712px 393px #7C238C,
  416px 170px #7C238C, 1797px 1932px #7C238C, 572px 219px #7C238C, 1557px 1856px #7C238C,
  218px 8px #7C238C, 348px 1334px #7C238C, 469px 413px #7C238C, 385px 1738px #7C238C,
  1357px 1818px #7C238C, 240px 942px #7C238C, 248px 1847px #7C238C, 1535px 806px #7C238C,
  236px 1514px #7C238C, 1429px 1556px #7C238C, 73px 1633px #7C238C, 1398px 1121px #7C238C,
  671px 1301px #7C238C, 1404px 1663px #7C238C, 740px 1018px #7C238C, 1600px 377px #7C238C,
  785px 514px #7C238C, 112px 1084px #7C238C, 1915px 1887px #7C238C, 1463px 1848px #7C238C,
  687px 1115px #7C238C, 1268px 1768px #7C238C, 1729px 1425px #7C238C,
  1284px 1022px #7C238C, 801px 974px #7C238C, 1975px 1317px #7C238C, 1354px 834px #7C238C,
  1446px 1484px #7C238C, 1283px 1786px #7C238C, 11px 523px #7C238C, 1842px 236px #7C238C,
  1355px 654px #7C238C, 429px 7px #7C238C, 1033px 1128px #7C238C, 157px 297px #7C238C,
  545px 635px #7C238C, 52px 1080px #7C238C, 827px 1520px #7C238C, 1121px 490px #7C238C,
  9px 309px #7C238C, 1744px 1586px #7C238C, 1014px 417px #7C238C, 1534px 524px #7C238C,
  958px 552px #7C238C, 1403px 1496px #7C238C, 387px 703px #7C238C, 1522px 548px #7C238C,
  1355px 282px #7C238C, 1532px 601px #7C238C, 1838px 790px #7C238C, 290px 259px #7C238C,
  295px 598px #7C238C, 1601px 539px #7C238C, 1561px 1272px #7C238C, 34px 1922px #7C238C,
  1024px 543px #7C238C, 467px 369px #7C238C, 722px 333px #7C238C, 1976px 1255px #7C238C,
  766px 983px #7C238C, 1582px 1285px #7C238C, 12px 512px #7C238C, 617px 1410px #7C238C,
  682px 577px #7C238C, 1334px 1438px #7C238C, 439px 327px #7C238C, 1617px 1661px #7C238C,
  673px 129px #7C238C, 794px 941px #7C238C, 1386px 1902px #7C238C, 37px 1353px #7C238C,
  1467px 1353px #7C238C, 416px 18px #7C238C, 187px 344px #7C238C, 200px 1898px #7C238C,
  1491px 1619px #7C238C, 811px 347px #7C238C, 924px 1827px #7C238C, 945px 217px #7C238C,
  1735px 1228px #7C238C, 379px 1890px #7C238C, 79px 761px #7C238C, 825px 1837px #7C238C,
  1980px 1558px #7C238C, 1308px 1573px #7C238C, 1488px 1726px #7C238C,
  382px 1208px #7C238C, 522px 595px #7C238C, 1277px 1898px #7C238C, 354px 552px #7C238C,
  161px 1784px #7C238C, 614px 251px #7C238C, 526px 1576px #7C238C, 17px 212px #7C238C,
  179px 996px #7C238C, 467px 1208px #7C238C, 1944px 1838px #7C238C, 1140px 1093px #7C238C,
  858px 1007px #7C238C, 200px 1064px #7C238C, 423px 1964px #7C238C, 1945px 439px #7C238C,
  1377px 689px #7C238C, 1120px 1437px #7C238C, 1876px 668px #7C238C, 907px 1324px #7C238C,
  343px 1976px #7C238C, 1816px 1501px #7C238C, 1849px 177px #7C238C, 647px 91px #7C238C,
  1984px 1012px #7C238C, 1336px 1300px #7C238C, 128px 648px #7C238C, 305px 1060px #7C238C,
  1324px 826px #7C238C, 1263px 1314px #7C238C, 1801px 629px #7C238C, 1614px 1555px #7C238C,
  1634px 90px #7C238C, 1603px 452px #7C238C, 891px 1984px #7C238C, 1556px 1906px #7C238C,
  121px 68px #7C238C, 1676px 1714px #7C238C, 516px 936px #7C238C, 1947px 1492px #7C238C,
  1455px 1519px #7C238C, 45px 602px #7C238C, 205px 1039px #7C238C, 793px 172px #7C238C,
  1562px 1739px #7C238C, 1056px 110px #7C238C, 1512px 379px #7C238C, 1795px 1621px #7C238C,
  1848px 607px #7C238C, 262px 1719px #7C238C, 477px 991px #7C238C, 483px 883px #7C238C,
  1239px 1197px #7C238C, 1496px 647px #7C238C, 1649px 25px #7C238C, 1491px 1946px #7C238C,
  119px 996px #7C238C, 179px 1472px #7C238C, 1341px 808px #7C238C, 1565px 1700px #7C238C,
  407px 1544px #7C238C, 1754px 357px #7C238C, 1288px 981px #7C238C, 902px 1997px #7C238C,
  1755px 1668px #7C238C, 186px 877px #7C238C, 1202px 1882px #7C238C, 461px 1213px #7C238C,
  1400px 748px #7C238C, 1969px 1899px #7C238C, 809px 522px #7C238C, 514px 1219px #7C238C,
  374px 275px #7C238C, 938px 1973px #7C238C, 357px 552px #7C238C, 144px 1722px #7C238C,
  1572px 912px #7C238C, 402px 1858px #7C238C, 1544px 1195px #7C238C, 667px 1257px #7C238C,
  727px 1496px #7C238C, 993px 232px #7C238C, 1772px 313px #7C238C, 1040px 1590px #7C238C,
  1204px 1973px #7C238C, 1268px 79px #7C238C, 1555px 1048px #7C238C, 986px 1707px #7C238C,
  978px 1710px #7C238C, 713px 360px #7C238C, 407px 863px #7C238C, 461px 736px #7C238C,
  284px 1608px #7C238C, 103px 430px #7C238C, 1283px 1319px #7C238C, 977px 1186px #7C238C,
  1966px 1516px #7C238C, 1287px 1129px #7C238C, 70px 1098px #7C238C, 1189px 889px #7C238C,
  1126px 1734px #7C238C, 309px 1292px #7C238C, 879px 764px #7C238C, 65px 473px #7C238C,
  1003px 1959px #7C238C, 658px 791px #7C238C, 402px 1576px #7C238C, 35px 622px #7C238C,
  529px 1589px #7C238C, 164px 666px #7C238C, 1876px 1290px #7C238C, 1541px 526px #7C238C,
  270px 1297px #7C238C, 440px 865px #7C238C, 1500px 802px #7C238C, 182px 1754px #7C238C,
  1264px 892px #7C238C, 272px 1249px #7C238C, 1289px 1535px #7C238C, 190px 1646px #7C238C,
  955px 242px #7C238C, 1456px 1597px #7C238C, 1727px 1983px #7C238C, 635px 801px #7C238C,
  226px 455px #7C238C, 1396px 1710px #7C238C, 849px 1863px #7C238C, 237px 1264px #7C238C,
  839px 140px #7C238C, 1122px 735px #7C238C, 1280px 15px #7C238C, 1318px 242px #7C238C,
  1819px 1148px #7C238C, 333px 1392px #7C238C, 1949px 553px #7C238C, 1878px 1332px #7C238C,
  467px 548px #7C238C, 1812px 1082px #7C238C, 1067px 193px #7C238C, 243px 156px #7C238C,
  483px 1616px #7C238C, 1714px 933px #7C238C, 759px 1800px #7C238C, 1822px 995px #7C238C,
  1877px 572px #7C238C, 581px 1084px #7C238C, 107px 732px #7C238C, 642px 1837px #7C238C,
  166px 1493px #7C238C, 1555px 198px #7C238C, 819px 307px #7C238C, 947px 345px #7C238C,
  827px 224px #7C238C, 927px 1394px #7C238C, 540px 467px #7C238C, 1093px 405px #7C238C,
  1140px 927px #7C238C, 130px 529px #7C238C, 33px 1980px #7C238C, 1147px 1663px #7C238C,
  1616px 1436px #7C238C, 528px 710px #7C238C, 798px 1100px #7C238C, 505px 1480px #7C238C,
  899px 641px #7C238C, 1909px 1949px #7C238C, 1311px 964px #7C238C, 979px 1301px #7C238C,
  1393px 969px #7C238C, 1793px 1886px #7C238C, 292px 357px #7C238C, 1196px 1718px #7C238C,
  1290px 1994px #7C238C, 537px 1973px #7C238C, 1181px 1674px #7C238C,
  1740px 1566px #7C238C, 1307px 265px #7C238C, 922px 522px #7C238C, 1892px 472px #7C238C,
  384px 1746px #7C238C, 392px 1098px #7C238C, 647px 548px #7C238C, 390px 1498px #7C238C,
  1246px 138px #7C238C, 730px 876px #7C238C, 192px 1472px #7C238C, 1790px 1789px #7C238C,
  928px 311px #7C238C, 1253px 1647px #7C238C, 747px 1921px #7C238C, 1561px 1025px #7C238C,
  1533px 1292px #7C238C, 1985px 195px #7C238C, 728px 729px #7C238C, 1712px 1936px #7C238C,
  512px 1717px #7C238C, 1528px 483px #7C238C, 313px 1642px #7C238C, 281px 1849px #7C238C,
  1212px 799px #7C238C, 435px 1191px #7C238C, 1422px 611px #7C238C, 1718px 1964px #7C238C,
  411px 944px #7C238C, 210px 636px #7C238C, 1502px 1295px #7C238C, 1434px 349px #7C238C,
  769px 60px #7C238C, 747px 1053px #7C238C, 789px 504px #7C238C, 1436px 1264px #7C238C,
  1893px 1225px #7C238C, 1394px 1788px #7C238C, 1108px 1317px #7C238C,
  1673px 1395px #7C238C, 854px 1010px #7C238C, 1705px 80px #7C238C, 1858px 148px #7C238C,
  1729px 344px #7C238C, 1388px 664px #7C238C, 895px 406px #7C238C, 1479px 157px #7C238C,
  1441px 1157px #7C238C, 552px 1900px #7C238C, 516px 364px #7C238C, 1647px 189px #7C238C,
  1427px 1071px #7C238C, 785px 729px #7C238C, 1080px 1710px #7C238C, 504px 204px #7C238C,
  1177px 1622px #7C238C, 657px 34px #7C238C, 1296px 1099px #7C238C, 248px 180px #7C238C,
  1212px 1568px #7C238C, 667px 1562px #7C238C, 695px 841px #7C238C, 1608px 1247px #7C238C,
  751px 882px #7C238C, 87px 167px #7C238C, 607px 1368px #7C238C, 1363px 1203px #7C238C,
  1836px 317px #7C238C, 1668px 1703px #7C238C, 830px 1154px #7C238C, 1721px 1398px #7C238C,
  1601px 1280px #7C238C, 976px 874px #7C238C, 1743px 254px #7C238C, 1020px 1815px #7C238C,
  1670px 1766px #7C238C, 1890px 735px #7C238C, 1379px 136px #7C238C, 1864px 695px #7C238C,
  206px 965px #7C238C, 1404px 1932px #7C238C, 1923px 1360px #7C238C, 247px 682px #7C238C,
  519px 1708px #7C238C, 645px 750px #7C238C, 1164px 1204px #7C238C, 834px 323px #7C238C,
  172px 1350px #7C238C, 213px 972px #7C238C, 1837px 190px #7C238C, 285px 1806px #7C238C,
  1047px 1299px #7C238C, 1548px 825px #7C238C, 1730px 324px #7C238C, 1346px 1909px #7C238C,
  772px 270px #7C238C, 345px 1190px #7C238C, 478px 1433px #7C238C, 1479px 25px #7C238C,
  1994px 1830px #7C238C, 1744px 732px #7C238C, 20px 1635px #7C238C, 690px 1795px #7C238C,
  1594px 569px #7C238C, 579px 245px #7C238C, 1398px 733px #7C238C, 408px 1352px #7C238C,
  1774px 120px #7C238C, 1152px 1370px #7C238C, 1698px 1810px #7C238C, 710px 1450px #7C238C,
  665px 286px #7C238C, 493px 1720px #7C238C, 786px 5px #7C238C, 637px 1140px #7C238C,
  764px 324px #7C238C, 927px 310px #7C238C, 938px 1424px #7C238C, 1884px 744px #7C238C,
  913px 462px #7C238C, 1831px 1936px #7C238C, 1527px 249px #7C238C, 36px 1381px #7C238C,
  1597px 581px #7C238C, 1530px 355px #7C238C, 949px 459px #7C238C, 799px 828px #7C238C,
  242px 1471px #7C238C, 654px 797px #7C238C, 796px 594px #7C238C, 1365px 678px #7C238C,
  752px 23px #7C238C, 1630px 541px #7C238C, 982px 72px #7C238C, 1733px 1831px #7C238C,
  21px 412px #7C238C, 775px 998px #7C238C, 335px 1945px #7C238C, 264px 583px #7C238C,
  158px 1311px #7C238C, 528px 164px #7C238C, 1978px 574px #7C238C, 717px 1203px #7C238C,
  734px 1591px #7C238C, 1555px 820px #7C238C, 16px 1943px #7C238C, 1625px 1177px #7C238C,
  1236px 690px #7C238C, 1585px 1590px #7C238C, 1737px 1728px #7C238C, 721px 698px #7C238C,
  1804px 1186px #7C238C, 166px 980px #7C238C, 1850px 230px #7C238C, 330px 1712px #7C238C,
  95px 797px #7C238C, 1948px 1078px #7C238C, 469px 939px #7C238C, 1269px 1899px #7C238C,
  955px 1220px #7C238C, 1137px 1075px #7C238C, 312px 1293px #7C238C, 986px 1762px #7C238C,
  1103px 1238px #7C238C, 428px 1993px #7C238C, 355px 570px #7C238C, 977px 1836px #7C238C,
  1395px 1092px #7C238C, 276px 913px #7C238C, 1743px 656px #7C238C, 773px 502px #7C238C,
  1686px 1322px #7C238C, 1516px 1945px #7C238C, 1334px 501px #7C238C, 266px 156px #7C238C,
  455px 655px #7C238C, 798px 72px #7C238C, 1059px 1259px #7C238C, 1402px 1687px #7C238C,
  236px 1329px #7C238C, 1455px 786px #7C238C, 146px 1228px #7C238C, 1851px 823px #7C238C,
  1062px 100px #7C238C, 1220px 953px #7C238C, 20px 1826px #7C238C, 36px 1063px #7C238C,
  1525px 338px #7C238C, 790px 1521px #7C238C, 741px 1099px #7C238C, 288px 1489px #7C238C,
  700px 1060px #7C238C, 390px 1071px #7C238C, 411px 1036px #7C238C, 1853px 1072px #7C238C,
  1446px 1085px #7C238C, 1164px 874px #7C238C, 924px 925px #7C238C, 291px 271px #7C238C,
  1257px 1964px #7C238C, 1580px 1352px #7C238C, 1507px 1216px #7C238C, 211px 956px #7C238C,
  985px 1195px #7C238C, 975px 1640px #7C238C, 518px 101px #7C238C, 663px 1395px #7C238C,
  914px 532px #7C238C, 145px 1320px #7C238C, 69px 1397px #7C238C, 982px 523px #7C238C,
  257px 725px #7C238C, 1599px 831px #7C238C, 1636px 1513px #7C238C, 1250px 1158px #7C238C,
  1132px 604px #7C238C, 183px 102px #7C238C, 1057px 318px #7C238C, 1247px 1835px #7C238C,
  1983px 1110px #7C238C, 1077px 1455px #7C238C, 921px 1770px #7C238C, 806px 1350px #7C238C,
  1938px 1992px #7C238C, 855px 1260px #7C238C, 902px 1345px #7C238C, 658px 1908px #7C238C,
  1845px 679px #7C238C, 712px 1482px #7C238C, 595px 950px #7C238C, 1784px 1992px #7C238C,
  1847px 1785px #7C238C, 691px 1004px #7C238C, 175px 1179px #7C238C, 1666px 1911px #7C238C,
  41px 61px #7C238C, 971px 1080px #7C238C, 1830px 1450px #7C238C, 1351px 1518px #7C238C,
  1257px 99px #7C238C, 1395px 1498px #7C238C, 1117px 252px #7C238C, 1779px 597px #7C238C,
  1346px 729px #7C238C, 1108px 1144px #7C238C, 402px 691px #7C238C, 72px 496px #7C238C,
  1673px 1604px #7C238C, 1497px 974px #7C238C, 1865px 1664px #7C238C, 88px 806px #7C238C,
  918px 77px #7C238C, 244px 1118px #7C238C, 256px 1820px #7C238C, 1851px 1840px #7C238C,
  605px 1851px #7C238C, 634px 383px #7C238C, 865px 37px #7C238C, 943px 1024px #7C238C,
  1951px 177px #7C238C, 1097px 523px #7C238C, 985px 1700px #7C238C, 1243px 122px #7C238C,
  768px 1070px #7C238C, 468px 194px #7C238C, 320px 1867px #7C238C, 1850px 185px #7C238C,
  380px 1616px #7C238C, 468px 1294px #7C238C, 1122px 1743px #7C238C, 884px 299px #7C238C,
  1300px 1917px #7C238C, 1860px 396px #7C238C, 1270px 990px #7C238C, 529px 733px #7C238C,
  1975px 1347px #7C238C, 1885px 685px #7C238C, 226px 506px #7C238C, 651px 878px #7C238C,
  1323px 680px #7C238C, 1284px 680px #7C238C, 238px 1967px #7C238C, 911px 174px #7C238C,
  1111px 521px #7C238C, 1150px 85px #7C238C, 794px 502px #7C238C, 484px 1856px #7C238C,
  1809px 368px #7C238C, 112px 953px #7C238C, 590px 1009px #7C238C, 1655px 311px #7C238C,
  100px 1026px #7C238C, 1803px 352px #7C238C, 865px 306px #7C238C, 1077px 1019px #7C238C,
  1335px 872px #7C238C, 1647px 1298px #7C238C, 1233px 1387px #7C238C, 698px 1036px #7C238C,
  659px 1860px #7C238C, 388px 1412px #7C238C, 1212px 458px #7C238C, 755px 1468px #7C238C,
  696px 1654px #7C238C, 1144px 60px #7C238C;
}

#stars:after {
  content: '';
  position: absolute;
  /* top: 2000px; */
  width: 1px;
  height: 1px;
  background: transparent;
  border-radius: 100%;
  box-shadow: 779px 1331px #7C238C, 324px 42px #7C238C, 303px 586px #7C238C,
  1312px 276px #7C238C, 451px 625px #7C238C, 521px 1931px #7C238C, 1087px 1871px #7C238C,
  36px 1546px #7C238C, 132px 934px #7C238C, 1698px 901px #7C238C, 1418px 664px #7C238C,
  1448px 1157px #7C238C, 1084px 232px #7C238C, 347px 1776px #7C238C, 1722px 243px #7C238C,
  1629px 835px #7C238C, 479px 969px #7C238C, 1231px 960px #7C238C, 586px 384px #7C238C,
  164px 527px #7C238C, 8px 646px #7C238C, 1150px 1126px #7C238C, 665px 1357px #7C238C,
  1556px 1982px #7C238C, 1260px 1961px #7C238C, 1675px 1741px #7C238C,
  1843px 1514px #7C238C, 718px 1628px #7C238C, 242px 1343px #7C238C, 1497px 1880px #7C238C,
  1364px 230px #7C238C, 1739px 1302px #7C238C, 636px 959px #7C238C, 304px 686px #7C238C,
  614px 751px #7C238C, 1935px 816px #7C238C, 1428px 60px #7C238C, 355px 335px #7C238C,
  1594px 158px #7C238C, 90px 60px #7C238C, 1553px 162px #7C238C, 1239px 1825px #7C238C,
  1945px 587px #7C238C, 749px 1785px #7C238C, 1987px 1172px #7C238C, 1301px 1237px #7C238C,
  1039px 342px #7C238C, 1585px 1481px #7C238C, 995px 1048px #7C238C, 524px 932px #7C238C,
  214px 413px #7C238C, 1701px 1300px #7C238C, 1037px 1613px #7C238C, 1871px 996px #7C238C,
  1360px 1635px #7C238C, 1110px 1313px #7C238C, 412px 1783px #7C238C, 1949px 177px #7C238C,
  903px 1854px #7C238C, 700px 1936px #7C238C, 378px 125px #7C238C, 308px 834px #7C238C,
  1118px 962px #7C238C, 1350px 1929px #7C238C, 781px 1811px #7C238C, 561px 137px #7C238C,
  757px 1148px #7C238C, 1670px 1979px #7C238C, 343px 739px #7C238C, 945px 795px #7C238C,
  576px 1903px #7C238C, 1078px 1436px #7C238C, 1583px 450px #7C238C, 1366px 474px #7C238C,
  297px 1873px #7C238C, 192px 162px #7C238C, 1624px 1633px #7C238C, 59px 453px #7C238C,
  82px 1872px #7C238C, 1933px 498px #7C238C, 1966px 1974px #7C238C, 1975px 1688px #7C238C,
  779px 314px #7C238C, 1858px 1543px #7C238C, 73px 1507px #7C238C, 1693px 975px #7C238C,
  1683px 108px #7C238C, 1768px 1654px #7C238C, 654px 14px #7C238C, 494px 171px #7C238C,
  1689px 1895px #7C238C, 1660px 263px #7C238C, 1031px 903px #7C238C, 1203px 1393px #7C238C,
  1333px 1421px #7C238C, 1113px 41px #7C238C, 1206px 1645px #7C238C, 1325px 1635px #7C238C,
  142px 388px #7C238C, 572px 215px #7C238C, 1535px 296px #7C238C, 1419px 407px #7C238C,
  1379px 1003px #7C238C, 329px 469px #7C238C, 1791px 1652px #7C238C, 935px 1802px #7C238C,
  1330px 1820px #7C238C, 421px 1933px #7C238C, 828px 365px #7C238C, 275px 316px #7C238C,
  707px 960px #7C238C, 1605px 1554px #7C238C, 625px 58px #7C238C, 717px 1697px #7C238C,
  1669px 246px #7C238C, 1925px 322px #7C238C, 1154px 1803px #7C238C, 1929px 295px #7C238C,
  1248px 240px #7C238C, 1045px 1755px #7C238C, 166px 942px #7C238C, 1888px 1773px #7C238C,
  678px 1963px #7C238C, 1370px 569px #7C238C, 1974px 1400px #7C238C, 1786px 460px #7C238C,
  51px 307px #7C238C, 784px 1400px #7C238C, 730px 1258px #7C238C, 1712px 393px #7C238C,
  416px 170px #7C238C, 1797px 1932px #7C238C, 572px 219px #7C238C, 1557px 1856px #7C238C,
  218px 8px #7C238C, 348px 1334px #7C238C, 469px 413px #7C238C, 385px 1738px #7C238C,
  1357px 1818px #7C238C, 240px 942px #7C238C, 248px 1847px #7C238C, 1535px 806px #7C238C,
  236px 1514px #7C238C, 1429px 1556px #7C238C, 73px 1633px #7C238C, 1398px 1121px #7C238C,
  671px 1301px #7C238C, 1404px 1663px #7C238C, 740px 1018px #7C238C, 1600px 377px #7C238C,
  785px 514px #7C238C, 112px 1084px #7C238C, 1915px 1887px #7C238C, 1463px 1848px #7C238C,
  687px 1115px #7C238C, 1268px 1768px #7C238C, 1729px 1425px #7C238C,
  1284px 1022px #7C238C, 801px 974px #7C238C, 1975px 1317px #7C238C, 1354px 834px #7C238C,
  1446px 1484px #7C238C, 1283px 1786px #7C238C, 11px 523px #7C238C, 1842px 236px #7C238C,
  1355px 654px #7C238C, 429px 7px #7C238C, 1033px 1128px #7C238C, 157px 297px #7C238C,
  545px 635px #7C238C, 52px 1080px #7C238C, 827px 1520px #7C238C, 1121px 490px #7C238C,
  9px 309px #7C238C, 1744px 1586px #7C238C, 1014px 417px #7C238C, 1534px 524px #7C238C,
  958px 552px #7C238C, 1403px 1496px #7C238C, 387px 703px #7C238C, 1522px 548px #7C238C,
  1355px 282px #7C238C, 1532px 601px #7C238C, 1838px 790px #7C238C, 290px 259px #7C238C,
  295px 598px #7C238C, 1601px 539px #7C238C, 1561px 1272px #7C238C, 34px 1922px #7C238C,
  1024px 543px #7C238C, 467px 369px #7C238C, 722px 333px #7C238C, 1976px 1255px #7C238C,
  766px 983px #7C238C, 1582px 1285px #7C238C, 12px 512px #7C238C, 617px 1410px #7C238C,
  682px 577px #7C238C, 1334px 1438px #7C238C, 439px 327px #7C238C, 1617px 1661px #7C238C,
  673px 129px #7C238C, 794px 941px #7C238C, 1386px 1902px #7C238C, 37px 1353px #7C238C,
  1467px 1353px #7C238C, 416px 18px #7C238C, 187px 344px #7C238C, 200px 1898px #7C238C,
  1491px 1619px #7C238C, 811px 347px #7C238C, 924px 1827px #7C238C, 945px 217px #7C238C,
  1735px 1228px #7C238C, 379px 1890px #7C238C, 79px 761px #7C238C, 825px 1837px #7C238C,
  1980px 1558px #7C238C, 1308px 1573px #7C238C, 1488px 1726px #7C238C,
  382px 1208px #7C238C, 522px 595px #7C238C, 1277px 1898px #7C238C, 354px 552px #7C238C,
  161px 1784px #7C238C, 614px 251px #7C238C, 526px 1576px #7C238C, 17px 212px #7C238C,
  179px 996px #7C238C, 467px 1208px #7C238C, 1944px 1838px #7C238C, 1140px 1093px #7C238C,
  858px 1007px #7C238C, 200px 1064px #7C238C, 423px 1964px #7C238C, 1945px 439px #7C238C,
  1377px 689px #7C238C, 1120px 1437px #7C238C, 1876px 668px #7C238C, 907px 1324px #7C238C,
  343px 1976px #7C238C, 1816px 1501px #7C238C, 1849px 177px #7C238C, 647px 91px #7C238C,
  1984px 1012px #7C238C, 1336px 1300px #7C238C, 128px 648px #7C238C, 305px 1060px #7C238C,
  1324px 826px #7C238C, 1263px 1314px #7C238C, 1801px 629px #7C238C, 1614px 1555px #7C238C,
  1634px 90px #7C238C, 1603px 452px #7C238C, 891px 1984px #7C238C, 1556px 1906px #7C238C,
  121px 68px #7C238C, 1676px 1714px #7C238C, 516px 936px #7C238C, 1947px 1492px #7C238C,
  1455px 1519px #7C238C, 45px 602px #7C238C, 205px 1039px #7C238C, 793px 172px #7C238C,
  1562px 1739px #7C238C, 1056px 110px #7C238C, 1512px 379px #7C238C, 1795px 1621px #7C238C,
  1848px 607px #7C238C, 262px 1719px #7C238C, 477px 991px #7C238C, 483px 883px #7C238C,
  1239px 1197px #7C238C, 1496px 647px #7C238C, 1649px 25px #7C238C, 1491px 1946px #7C238C,
  119px 996px #7C238C, 179px 1472px #7C238C, 1341px 808px #7C238C, 1565px 1700px #7C238C,
  407px 1544px #7C238C, 1754px 357px #7C238C, 1288px 981px #7C238C, 902px 1997px #7C238C,
  1755px 1668px #7C238C, 186px 877px #7C238C, 1202px 1882px #7C238C, 461px 1213px #7C238C,
  1400px 748px #7C238C, 1969px 1899px #7C238C, 809px 522px #7C238C, 514px 1219px #7C238C,
  374px 275px #7C238C, 938px 1973px #7C238C, 357px 552px #7C238C, 144px 1722px #7C238C,
  1572px 912px #7C238C, 402px 1858px #7C238C, 1544px 1195px #7C238C, 667px 1257px #7C238C,
  727px 1496px #7C238C, 993px 232px #7C238C, 1772px 313px #7C238C, 1040px 1590px #7C238C,
  1204px 1973px #7C238C, 1268px 79px #7C238C, 1555px 1048px #7C238C, 986px 1707px #7C238C,
  978px 1710px #7C238C, 713px 360px #7C238C, 407px 863px #7C238C, 461px 736px #7C238C,
  284px 1608px #7C238C, 103px 430px #7C238C, 1283px 1319px #7C238C, 977px 1186px #7C238C,
  1966px 1516px #7C238C, 1287px 1129px #7C238C, 70px 1098px #7C238C, 1189px 889px #7C238C,
  1126px 1734px #7C238C, 309px 1292px #7C238C, 879px 764px #7C238C, 65px 473px #7C238C,
  1003px 1959px #7C238C, 658px 791px #7C238C, 402px 1576px #7C238C, 35px 622px #7C238C,
  529px 1589px #7C238C, 164px 666px #7C238C, 1876px 1290px #7C238C, 1541px 526px #7C238C,
  270px 1297px #7C238C, 440px 865px #7C238C, 1500px 802px #7C238C, 182px 1754px #7C238C,
  1264px 892px #7C238C, 272px 1249px #7C238C, 1289px 1535px #7C238C, 190px 1646px #7C238C,
  955px 242px #7C238C, 1456px 1597px #7C238C, 1727px 1983px #7C238C, 635px 801px #7C238C,
  226px 455px #7C238C, 1396px 1710px #7C238C, 849px 1863px #7C238C, 237px 1264px #7C238C,
  839px 140px #7C238C, 1122px 735px #7C238C, 1280px 15px #7C238C, 1318px 242px #7C238C,
  1819px 1148px #7C238C, 333px 1392px #7C238C, 1949px 553px #7C238C, 1878px 1332px #7C238C,
  467px 548px #7C238C, 1812px 1082px #7C238C, 1067px 193px #7C238C, 243px 156px #7C238C,
  483px 1616px #7C238C, 1714px 933px #7C238C, 759px 1800px #7C238C, 1822px 995px #7C238C,
  1877px 572px #7C238C, 581px 1084px #7C238C, 107px 732px #7C238C, 642px 1837px #7C238C,
  166px 1493px #7C238C, 1555px 198px #7C238C, 819px 307px #7C238C, 947px 345px #7C238C,
  827px 224px #7C238C, 927px 1394px #7C238C, 540px 467px #7C238C, 1093px 405px #7C238C,
  1140px 927px #7C238C, 130px 529px #7C238C, 33px 1980px #7C238C, 1147px 1663px #7C238C,
  1616px 1436px #7C238C, 528px 710px #7C238C, 798px 1100px #7C238C, 505px 1480px #7C238C,
  899px 641px #7C238C, 1909px 1949px #7C238C, 1311px 964px #7C238C, 979px 1301px #7C238C,
  1393px 969px #7C238C, 1793px 1886px #7C238C, 292px 357px #7C238C, 1196px 1718px #7C238C,
  1290px 1994px #7C238C, 537px 1973px #7C238C, 1181px 1674px #7C238C,
  1740px 1566px #7C238C, 1307px 265px #7C238C, 922px 522px #7C238C, 1892px 472px #7C238C,
  384px 1746px #7C238C, 392px 1098px #7C238C, 647px 548px #7C238C, 390px 1498px #7C238C,
  1246px 138px #7C238C, 730px 876px #7C238C, 192px 1472px #7C238C, 1790px 1789px #7C238C,
  928px 311px #7C238C, 1253px 1647px #7C238C, 747px 1921px #7C238C, 1561px 1025px #7C238C,
  1533px 1292px #7C238C, 1985px 195px #7C238C, 728px 729px #7C238C, 1712px 1936px #7C238C,
  512px 1717px #7C238C, 1528px 483px #7C238C, 313px 1642px #7C238C, 281px 1849px #7C238C,
  1212px 799px #7C238C, 435px 1191px #7C238C, 1422px 611px #7C238C, 1718px 1964px #7C238C,
  411px 944px #7C238C, 210px 636px #7C238C, 1502px 1295px #7C238C, 1434px 349px #7C238C,
  769px 60px #7C238C, 747px 1053px #7C238C, 789px 504px #7C238C, 1436px 1264px #7C238C,
  1893px 1225px #7C238C, 1394px 1788px #7C238C, 1108px 1317px #7C238C,
  1673px 1395px #7C238C, 854px 1010px #7C238C, 1705px 80px #7C238C, 1858px 148px #7C238C,
  1729px 344px #7C238C, 1388px 664px #7C238C, 895px 406px #7C238C, 1479px 157px #7C238C,
  1441px 1157px #7C238C, 552px 1900px #7C238C, 516px 364px #7C238C, 1647px 189px #7C238C,
  1427px 1071px #7C238C, 785px 729px #7C238C, 1080px 1710px #7C238C, 504px 204px #7C238C,
  1177px 1622px #7C238C, 657px 34px #7C238C, 1296px 1099px #7C238C, 248px 180px #7C238C,
  1212px 1568px #7C238C, 667px 1562px #7C238C, 695px 841px #7C238C, 1608px 1247px #7C238C,
  751px 882px #7C238C, 87px 167px #7C238C, 607px 1368px #7C238C, 1363px 1203px #7C238C,
  1836px 317px #7C238C, 1668px 1703px #7C238C, 830px 1154px #7C238C, 1721px 1398px #7C238C,
  1601px 1280px #7C238C, 976px 874px #7C238C, 1743px 254px #7C238C, 1020px 1815px #7C238C,
  1670px 1766px #7C238C, 1890px 735px #7C238C, 1379px 136px #7C238C, 1864px 695px #7C238C,
  206px 965px #7C238C, 1404px 1932px #7C238C, 1923px 1360px #7C238C, 247px 682px #7C238C,
  519px 1708px #7C238C, 645px 750px #7C238C, 1164px 1204px #7C238C, 834px 323px #7C238C,
  172px 1350px #7C238C, 213px 972px #7C238C, 1837px 190px #7C238C, 285px 1806px #7C238C,
  1047px 1299px #7C238C, 1548px 825px #7C238C, 1730px 324px #7C238C, 1346px 1909px #7C238C,
  772px 270px #7C238C, 345px 1190px #7C238C, 478px 1433px #7C238C, 1479px 25px #7C238C,
  1994px 1830px #7C238C, 1744px 732px #7C238C, 20px 1635px #7C238C, 690px 1795px #7C238C,
  1594px 569px #7C238C, 579px 245px #7C238C, 1398px 733px #7C238C, 408px 1352px #7C238C,
  1774px 120px #7C238C, 1152px 1370px #7C238C, 1698px 1810px #7C238C, 710px 1450px #7C238C,
  665px 286px #7C238C, 493px 1720px #7C238C, 786px 5px #7C238C, 637px 1140px #7C238C,
  764px 324px #7C238C, 927px 310px #7C238C, 938px 1424px #7C238C, 1884px 744px #7C238C,
  913px 462px #7C238C, 1831px 1936px #7C238C, 1527px 249px #7C238C, 36px 1381px #7C238C,
  1597px 581px #7C238C, 1530px 355px #7C238C, 949px 459px #7C238C, 799px 828px #7C238C,
  242px 1471px #7C238C, 654px 797px #7C238C, 796px 594px #7C238C, 1365px 678px #7C238C,
  752px 23px #7C238C, 1630px 541px #7C238C, 982px 72px #7C238C, 1733px 1831px #7C238C,
  21px 412px #7C238C, 775px 998px #7C238C, 335px 1945px #7C238C, 264px 583px #7C238C,
  158px 1311px #7C238C, 528px 164px #7C238C, 1978px 574px #7C238C, 717px 1203px #7C238C,
  734px 1591px #7C238C, 1555px 820px #7C238C, 16px 1943px #7C238C, 1625px 1177px #7C238C,
  1236px 690px #7C238C, 1585px 1590px #7C238C, 1737px 1728px #7C238C, 721px 698px #7C238C,
  1804px 1186px #7C238C, 166px 980px #7C238C, 1850px 230px #7C238C, 330px 1712px #7C238C,
  95px 797px #7C238C, 1948px 1078px #7C238C, 469px 939px #7C238C, 1269px 1899px #7C238C,
  955px 1220px #7C238C, 1137px 1075px #7C238C, 312px 1293px #7C238C, 986px 1762px #7C238C,
  1103px 1238px #7C238C, 428px 1993px #7C238C, 355px 570px #7C238C, 977px 1836px #7C238C,
  1395px 1092px #7C238C, 276px 913px #7C238C, 1743px 656px #7C238C, 773px 502px #7C238C,
  1686px 1322px #7C238C, 1516px 1945px #7C238C, 1334px 501px #7C238C, 266px 156px #7C238C,
  455px 655px #7C238C, 798px 72px #7C238C, 1059px 1259px #7C238C, 1402px 1687px #7C238C,
  236px 1329px #7C238C, 1455px 786px #7C238C, 146px 1228px #7C238C, 1851px 823px #7C238C,
  1062px 100px #7C238C, 1220px 953px #7C238C, 20px 1826px #7C238C, 36px 1063px #7C238C,
  1525px 338px #7C238C, 790px 1521px #7C238C, 741px 1099px #7C238C, 288px 1489px #7C238C,
  700px 1060px #7C238C, 390px 1071px #7C238C, 411px 1036px #7C238C, 1853px 1072px #7C238C,
  1446px 1085px #7C238C, 1164px 874px #7C238C, 924px 925px #7C238C, 291px 271px #7C238C,
  1257px 1964px #7C238C, 1580px 1352px #7C238C, 1507px 1216px #7C238C, 211px 956px #7C238C,
  985px 1195px #7C238C, 975px 1640px #7C238C, 518px 101px #7C238C, 663px 1395px #7C238C,
  914px 532px #7C238C, 145px 1320px #7C238C, 69px 1397px #7C238C, 982px 523px #7C238C,
  257px 725px #7C238C, 1599px 831px #7C238C, 1636px 1513px #7C238C, 1250px 1158px #7C238C,
  1132px 604px #7C238C, 183px 102px #7C238C, 1057px 318px #7C238C, 1247px 1835px #7C238C,
  1983px 1110px #7C238C, 1077px 1455px #7C238C, 921px 1770px #7C238C, 806px 1350px #7C238C,
  1938px 1992px #7C238C, 855px 1260px #7C238C, 902px 1345px #7C238C, 658px 1908px #7C238C,
  1845px 679px #7C238C, 712px 1482px #7C238C, 595px 950px #7C238C, 1784px 1992px #7C238C,
  1847px 1785px #7C238C, 691px 1004px #7C238C, 175px 1179px #7C238C, 1666px 1911px #7C238C,
  41px 61px #7C238C, 971px 1080px #7C238C, 1830px 1450px #7C238C, 1351px 1518px #7C238C,
  1257px 99px #7C238C, 1395px 1498px #7C238C, 1117px 252px #7C238C, 1779px 597px #7C238C,
  1346px 729px #7C238C, 1108px 1144px #7C238C, 402px 691px #7C238C, 72px 496px #7C238C,
  1673px 1604px #7C238C, 1497px 974px #7C238C, 1865px 1664px #7C238C, 88px 806px #7C238C,
  918px 77px #7C238C, 244px 1118px #7C238C, 256px 1820px #7C238C, 1851px 1840px #7C238C,
  605px 1851px #7C238C, 634px 383px #7C238C, 865px 37px #7C238C, 943px 1024px #7C238C,
  1951px 177px #7C238C, 1097px 523px #7C238C, 985px 1700px #7C238C, 1243px 122px #7C238C,
  768px 1070px #7C238C, 468px 194px #7C238C, 320px 1867px #7C238C, 1850px 185px #7C238C,
  380px 1616px #7C238C, 468px 1294px #7C238C, 1122px 1743px #7C238C, 884px 299px #7C238C,
  1300px 1917px #7C238C, 1860px 396px #7C238C, 1270px 990px #7C238C, 529px 733px #7C238C,
  1975px 1347px #7C238C, 1885px 685px #7C238C, 226px 506px #7C238C, 651px 878px #7C238C,
  1323px 680px #7C238C, 1284px 680px #7C238C, 238px 1967px #7C238C, 911px 174px #7C238C,
  1111px 521px #7C238C, 1150px 85px #7C238C, 794px 502px #7C238C, 484px 1856px #7C238C,
  1809px 368px #7C238C, 112px 953px #7C238C, 590px 1009px #7C238C, 1655px 311px #7C238C,
  100px 1026px #7C238C, 1803px 352px #7C238C, 865px 306px #7C238C, 1077px 1019px #7C238C,
  1335px 872px #7C238C, 1647px 1298px #7C238C, 1233px 1387px #7C238C, 698px 1036px #7C238C,
  659px 1860px #7C238C, 388px 1412px #7C238C, 1212px 458px #7C238C, 755px 1468px #7C238C,
  696px 1654px #7C238C, 1144px 60px #7C238C;
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  border-radius: 100%;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #7C238C, 1775px 1663px #7C238C, 332px 1364px #7C238C,
  878px 340px #7C238C, 569px 1832px #7C238C, 1422px 1684px #7C238C, 1946px 1907px #7C238C,
  121px 979px #7C238C, 1044px 1069px #7C238C, 463px 381px #7C238C, 423px 112px #7C238C,
  523px 1179px #7C238C, 779px 654px #7C238C, 1398px 694px #7C238C, 1085px 1464px #7C238C,
  1599px 1869px #7C238C, 801px 1882px #7C238C, 779px 1231px #7C238C, 552px 932px #7C238C,
  1057px 1196px #7C238C, 282px 1280px #7C238C, 496px 1986px #7C238C, 1833px 1120px #7C238C,
  1802px 1293px #7C238C, 6px 1696px #7C238C, 412px 1902px #7C238C, 605px 438px #7C238C,
  24px 1212px #7C238C, 234px 1320px #7C238C, 544px 344px #7C238C, 1107px 170px #7C238C,
  1603px 196px #7C238C, 905px 648px #7C238C, 68px 1458px #7C238C, 649px 1969px #7C238C,
  744px 675px #7C238C, 1127px 478px #7C238C, 714px 1814px #7C238C, 1486px 526px #7C238C,
  270px 1636px #7C238C, 1931px 149px #7C238C, 1807px 378px #7C238C, 8px 390px #7C238C,
  1415px 699px #7C238C, 1473px 1211px #7C238C, 1590px 141px #7C238C, 270px 1705px #7C238C,
  69px 1423px #7C238C, 1108px 1053px #7C238C, 1946px 128px #7C238C, 371px 371px #7C238C,
  1490px 220px #7C238C, 357px 1885px #7C238C, 363px 363px #7C238C, 1896px 1256px #7C238C,
  1979px 1050px #7C238C, 947px 1342px #7C238C, 1754px 242px #7C238C, 514px 974px #7C238C,
  65px 1477px #7C238C, 1840px 547px #7C238C, 950px 695px #7C238C, 459px 1150px #7C238C,
  1124px 1502px #7C238C, 481px 940px #7C238C, 680px 839px #7C238C, 797px 1169px #7C238C,
  1977px 1491px #7C238C, 734px 1724px #7C238C, 210px 298px #7C238C, 816px 628px #7C238C,
  686px 770px #7C238C, 1721px 267px #7C238C, 1663px 511px #7C238C, 1481px 1141px #7C238C,
  582px 248px #7C238C, 1308px 953px #7C238C, 628px 657px #7C238C, 897px 1535px #7C238C,
  270px 931px #7C238C, 791px 467px #7C238C, 1336px 1732px #7C238C, 1013px 1653px #7C238C,
  1911px 956px #7C238C, 587px 816px #7C238C, 83px 456px #7C238C, 930px 1478px #7C238C,
  1587px 1694px #7C238C, 614px 1200px #7C238C, 302px 1782px #7C238C, 1711px 1432px #7C238C,
  443px 904px #7C238C, 1666px 714px #7C238C, 1588px 1167px #7C238C, 273px 1075px #7C238C,
  1679px 461px #7C238C, 721px 664px #7C238C, 1202px 10px #7C238C, 166px 1126px #7C238C,
  331px 1628px #7C238C, 430px 1565px #7C238C, 1585px 509px #7C238C, 640px 38px #7C238C,
  822px 837px #7C238C, 1760px 1664px #7C238C, 1122px 1458px #7C238C, 398px 131px #7C238C,
  689px 285px #7C238C, 460px 652px #7C238C, 1627px 365px #7C238C, 348px 1648px #7C238C,
  819px 1946px #7C238C, 981px 1917px #7C238C, 323px 76px #7C238C, 979px 684px #7C238C,
  887px 536px #7C238C, 1348px 1596px #7C238C, 1055px 666px #7C238C, 1402px 1797px #7C238C,
  1300px 1055px #7C238C, 937px 238px #7C238C, 1474px 1815px #7C238C, 1144px 1710px #7C238C,
  1629px 1087px #7C238C, 911px 919px #7C238C, 771px 819px #7C238C, 403px 720px #7C238C,
  163px 736px #7C238C, 1062px 238px #7C238C, 1774px 818px #7C238C, 1874px 1178px #7C238C,
  1177px 699px #7C238C, 1244px 1244px #7C238C, 1371px 58px #7C238C, 564px 1515px #7C238C,
  1824px 487px #7C238C, 929px 702px #7C238C, 394px 1348px #7C238C, 1161px 641px #7C238C,
  219px 1841px #7C238C, 358px 941px #7C238C, 140px 1759px #7C238C, 1019px 1345px #7C238C,
  274px 436px #7C238C, 1433px 1605px #7C238C, 1798px 1426px #7C238C, 294px 1848px #7C238C,
  1681px 1877px #7C238C, 1344px 1824px #7C238C, 1439px 1632px #7C238C,
  161px 1012px #7C238C, 1308px 588px #7C238C, 1789px 582px #7C238C, 721px 1910px #7C238C,
  318px 218px #7C238C, 607px 319px #7C238C, 495px 535px #7C238C, 1552px 1575px #7C238C,
  1562px 67px #7C238C, 403px 926px #7C238C, 1096px 1800px #7C238C, 1814px 1709px #7C238C,
  1882px 1831px #7C238C, 533px 46px #7C238C, 823px 969px #7C238C, 530px 165px #7C238C,
  1030px 352px #7C238C, 1681px 313px #7C238C, 338px 115px #7C238C, 1607px 211px #7C238C,
  1718px 1184px #7C238C, 1589px 659px #7C238C, 278px 355px #7C238C, 464px 1464px #7C238C,
  1165px 277px #7C238C, 950px 694px #7C238C, 1746px 293px #7C238C, 793px 911px #7C238C,
  528px 773px #7C238C, 1883px 1694px #7C238C, 748px 182px #7C238C, 1924px 1531px #7C238C,
  100px 636px #7C238C, 1473px 1445px #7C238C, 1264px 1244px #7C238C, 850px 1377px #7C238C,
  987px 1976px #7C238C, 933px 1761px #7C238C, 922px 1270px #7C238C, 500px 396px #7C238C,
  1324px 8px #7C238C, 1967px 1814px #7C238C, 1072px 1401px #7C238C, 961px 37px #7C238C,
  156px 81px #7C238C, 1915px 502px #7C238C, 1076px 1846px #7C238C, 152px 1669px #7C238C,
  986px 1529px #7C238C, 1667px 1137px #7C238C;
}

#stars2:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #7C238C, 1775px 1663px #7C238C, 332px 1364px #7C238C,
  878px 340px #7C238C, 569px 1832px #7C238C, 1422px 1684px #7C238C, 1946px 1907px #7C238C,
  121px 979px #7C238C, 1044px 1069px #7C238C, 463px 381px #7C238C, 423px 112px #7C238C,
  523px 1179px #7C238C, 779px 654px #7C238C, 1398px 694px #7C238C, 1085px 1464px #7C238C,
  1599px 1869px #7C238C, 801px 1882px #7C238C, 779px 1231px #7C238C, 552px 932px #7C238C,
  1057px 1196px #7C238C, 282px 1280px #7C238C, 496px 1986px #7C238C, 1833px 1120px #7C238C,
  1802px 1293px #7C238C, 6px 1696px #7C238C, 412px 1902px #7C238C, 605px 438px #7C238C,
  24px 1212px #7C238C, 234px 1320px #7C238C, 544px 344px #7C238C, 1107px 170px #7C238C,
  1603px 196px #7C238C, 905px 648px #7C238C, 68px 1458px #7C238C, 649px 1969px #7C238C,
  744px 675px #7C238C, 1127px 478px #7C238C, 714px 1814px #7C238C, 1486px 526px #7C238C,
  270px 1636px #7C238C, 1931px 149px #7C238C, 1807px 378px #7C238C, 8px 390px #7C238C,
  1415px 699px #7C238C, 1473px 1211px #7C238C, 1590px 141px #7C238C, 270px 1705px #7C238C,
  69px 1423px #7C238C, 1108px 1053px #7C238C, 1946px 128px #7C238C, 371px 371px #7C238C,
  1490px 220px #7C238C, 357px 1885px #7C238C, 363px 363px #7C238C, 1896px 1256px #7C238C,
  1979px 1050px #7C238C, 947px 1342px #7C238C, 1754px 242px #7C238C, 514px 974px #7C238C,
  65px 1477px #7C238C, 1840px 547px #7C238C, 950px 695px #7C238C, 459px 1150px #7C238C,
  1124px 1502px #7C238C, 481px 940px #7C238C, 680px 839px #7C238C, 797px 1169px #7C238C,
  1977px 1491px #7C238C, 734px 1724px #7C238C, 210px 298px #7C238C, 816px 628px #7C238C,
  686px 770px #7C238C, 1721px 267px #7C238C, 1663px 511px #7C238C, 1481px 1141px #7C238C,
  582px 248px #7C238C, 1308px 953px #7C238C, 628px 657px #7C238C, 897px 1535px #7C238C,
  270px 931px #7C238C, 791px 467px #7C238C, 1336px 1732px #7C238C, 1013px 1653px #7C238C,
  1911px 956px #7C238C, 587px 816px #7C238C, 83px 456px #7C238C, 930px 1478px #7C238C,
  1587px 1694px #7C238C, 614px 1200px #7C238C, 302px 1782px #7C238C, 1711px 1432px #7C238C,
  443px 904px #7C238C, 1666px 714px #7C238C, 1588px 1167px #7C238C, 273px 1075px #7C238C,
  1679px 461px #7C238C, 721px 664px #7C238C, 1202px 10px #7C238C, 166px 1126px #7C238C,
  331px 1628px #7C238C, 430px 1565px #7C238C, 1585px 509px #7C238C, 640px 38px #7C238C,
  822px 837px #7C238C, 1760px 1664px #7C238C, 1122px 1458px #7C238C, 398px 131px #7C238C,
  689px 285px #7C238C, 460px 652px #7C238C, 1627px 365px #7C238C, 348px 1648px #7C238C,
  819px 1946px #7C238C, 981px 1917px #7C238C, 323px 76px #7C238C, 979px 684px #7C238C,
  887px 536px #7C238C, 1348px 1596px #7C238C, 1055px 666px #7C238C, 1402px 1797px #7C238C,
  1300px 1055px #7C238C, 937px 238px #7C238C, 1474px 1815px #7C238C, 1144px 1710px #7C238C,
  1629px 1087px #7C238C, 911px 919px #7C238C, 771px 819px #7C238C, 403px 720px #7C238C,
  163px 736px #7C238C, 1062px 238px #7C238C, 1774px 818px #7C238C, 1874px 1178px #7C238C,
  1177px 699px #7C238C, 1244px 1244px #7C238C, 1371px 58px #7C238C, 564px 1515px #7C238C,
  1824px 487px #7C238C, 929px 702px #7C238C, 394px 1348px #7C238C, 1161px 641px #7C238C,
  219px 1841px #7C238C, 358px 941px #7C238C, 140px 1759px #7C238C, 1019px 1345px #7C238C,
  274px 436px #7C238C, 1433px 1605px #7C238C, 1798px 1426px #7C238C, 294px 1848px #7C238C,
  1681px 1877px #7C238C, 1344px 1824px #7C238C, 1439px 1632px #7C238C,
  161px 1012px #7C238C, 1308px 588px #7C238C, 1789px 582px #7C238C, 721px 1910px #7C238C,
  318px 218px #7C238C, 607px 319px #7C238C, 495px 535px #7C238C, 1552px 1575px #7C238C,
  1562px 67px #7C238C, 403px 926px #7C238C, 1096px 1800px #7C238C, 1814px 1709px #7C238C,
  1882px 1831px #7C238C, 533px 46px #7C238C, 823px 969px #7C238C, 530px 165px #7C238C,
  1030px 352px #7C238C, 1681px 313px #7C238C, 338px 115px #7C238C, 1607px 211px #7C238C,
  1718px 1184px #7C238C, 1589px 659px #7C238C, 278px 355px #7C238C, 464px 1464px #7C238C,
  1165px 277px #7C238C, 950px 694px #7C238C, 1746px 293px #7C238C, 793px 911px #7C238C,
  528px 773px #7C238C, 1883px 1694px #7C238C, 748px 182px #7C238C, 1924px 1531px #7C238C,
  100px 636px #7C238C, 1473px 1445px #7C238C, 1264px 1244px #7C238C, 850px 1377px #7C238C,
  987px 1976px #7C238C, 933px 1761px #7C238C, 922px 1270px #7C238C, 500px 396px #7C238C,
  1324px 8px #7C238C, 1967px 1814px #7C238C, 1072px 1401px #7C238C, 961px 37px #7C238C,
  156px 81px #7C238C, 1915px 502px #7C238C, 1076px 1846px #7C238C, 152px 1669px #7C238C,
  986px 1529px #7C238C, 1667px 1137px #7C238C;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  border-radius: 100%;
  animation: animStar 150s linear infinte;
  box-shadow: 387px 1878px #7C238C, 760px 1564px #7C238C, 1487px 999px #7C238C,
  948px 1828px #7C238C, 1977px 1001px #7C238C, 1284px 1963px #7C238C, 656px 284px #7C238C,
  1268px 1635px #7C238C, 1820px 598px #7C238C, 642px 1900px #7C238C, 296px 57px #7C238C,
  921px 1620px #7C238C, 476px 1858px #7C238C, 658px 613px #7C238C, 1171px 1363px #7C238C,
  1419px 283px #7C238C, 1037px 731px #7C238C, 503px 663px #7C238C, 1562px 463px #7C238C,
  383px 1197px #7C238C, 1171px 1233px #7C238C, 876px 1768px #7C238C, 856px 1615px #7C238C,
  1375px 1924px #7C238C, 1725px 918px #7C238C, 952px 119px #7C238C, 768px 1212px #7C238C,
  992px 1462px #7C238C, 1929px 717px #7C238C, 1947px 755px #7C238C, 1818px 1123px #7C238C,
  1896px 1672px #7C238C, 460px 198px #7C238C, 256px 271px #7C238C, 752px 544px #7C238C,
  1222px 1859px #7C238C, 1851px 443px #7C238C, 313px 1858px #7C238C, 709px 446px #7C238C,
  1546px 697px #7C238C, 674px 1155px #7C238C, 1112px 130px #7C238C, 355px 1790px #7C238C,
  1496px 974px #7C238C, 1696px 480px #7C238C, 1316px 1265px #7C238C, 1645px 1063px #7C238C,
  1182px 237px #7C238C, 427px 1582px #7C238C, 859px 253px #7C238C, 458px 939px #7C238C,
  1517px 1644px #7C238C, 1943px 60px #7C238C, 212px 1650px #7C238C, 966px 1786px #7C238C,
  473px 712px #7C238C, 130px 76px #7C238C, 1417px 1186px #7C238C, 909px 1580px #7C238C,
  1913px 762px #7C238C, 204px 1143px #7C238C, 1998px 1057px #7C238C, 1468px 1301px #7C238C,
  144px 1676px #7C238C, 21px 1601px #7C238C, 382px 1362px #7C238C, 912px 753px #7C238C,
  1488px 1405px #7C238C, 802px 156px #7C238C, 174px 550px #7C238C, 338px 1366px #7C238C,
  1197px 774px #7C238C, 602px 486px #7C238C, 682px 1877px #7C238C, 348px 1503px #7C238C,
  407px 1139px #7C238C, 950px 1400px #7C238C, 922px 1139px #7C238C, 1697px 293px #7C238C,
  1238px 1281px #7C238C, 1038px 1197px #7C238C, 376px 1889px #7C238C,
  1255px 1680px #7C238C, 1008px 1316px #7C238C, 1538px 1447px #7C238C,
  1186px 874px #7C238C, 1967px 640px #7C238C, 1341px 19px #7C238C, 29px 1732px #7C238C,
  16px 1650px #7C238C, 1021px 1075px #7C238C, 723px 424px #7C238C, 1175px 41px #7C238C,
  494px 1957px #7C238C, 1296px 431px #7C238C, 175px 1507px #7C238C, 831px 121px #7C238C,
  498px 1947px #7C238C, 617px 880px #7C238C, 240px 403px #7C238C;
}

@keyframes animStar {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-2000px);
  }
}
