* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.light-theme {
  background-color: var(--page-background);
  color: var( --contrast-color);
}

.dark-theme {
  background-color: var(--page-background);
  color: var( --contrast-color);
}

.firstArea {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.firstArea img {
  height: 520px;
  margin: auto;
}

#triangle {
  top: 20px;
}
