@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;1,100&display=swap');

footer {
  margin-top: 30px;
  background: var(--par-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h2 {
  font-size: 15px;
  color: #7C238C;
  font-family: 'Bitter', serif;
}

footer p, footer a {
  font-size: 14px;
  color: var(--contrast-color);
  font-weight: 300;
  text-decoration: none;
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 20px 50px;
}

footer a:hover {
  color: var(--hover-color);
  cursor: pointer;
}
