.projects h2 {
  font-size: 7rem;
  line-height: 50px;
}

.projects .project {
  /* border: 2px red solid; */
  border-radius: 66px;
  width: 99%;
  height: 50vh;
  margin: auto;
  text-align: center;
  display: grid;
  /* justify-content: center; */
  align-items: center;
  background-image: linear-gradient(#FEDE00, #FF3900,  #FE015C);
  color: var(--page-background);
  margin: 15px 0;
}

.projects .project:last-of-type {
  background-image: none;
  background-color: var(--contrast-color);
  margin: 15px 0 0 0;
}

.project h3 {
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.sideBySide {
  display: flex;
  justify-content: center;
}

.sideBySide .projectX {
  /* border: 2px red solid; */
  border-radius: 40px;
  width: 48%;
  display: inline-flex;
  height: 50vh;
  text-align: center;
  display: grid;
  align-items: center;
  background-color: #290038;
  margin: 0 7.5px 0 0;
}

.projects .projectX:nth-of-type(2) {
  background-color: #F1BF98;
  margin: 0 0 0 7.5px;
}