body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#F7FFF7, #fdf5ee);
    font-family: 'Crimson Pro', serif;
}
/*NAV BAR*/
#nav-bar a{
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  #nav-bar a:hover{
    color: gray;
  }
  #nav-bar li{
    display: inline-flex;
    list-style: none;
    padding-right: 100px;
  }
  #nav-bar{
    font-family: 'Mulish', sans-serif;
    position: fixed;
    background-color: #F7FFF7;
    width: 100%;
    padding: 10px 0;
  }
/*APRESENTATION*/
#h1{
    width: 600px;
}
#h1 h1{
    color: rgb(63, 63, 63);
    font-size: 35px;
    line-height: 45px;
}
#h1 p{
    font-size: 20px;
    color: #2b2b2be1;
    text-align: justify;
    line-height: 30px;
}
#text{
    padding-top: 100px;
    padding-bottom: 100px;
    display:flex;
    justify-content: space-around;
}
#text img{
    max-width: 800px;
  
}
#curiosidade-del{
    text-decoration-line: line-through;
    text-transform: uppercase;
}


/*READING ARE*/
#what-am-i-reading{
  border: 10px solid #ffe6f477;
  border-radius: 30px;
  margin: 70px;
}
#what-am-i-reading h2{
  margin: 25px 55px;
  font-size: 40px;
  color: #2b2b2be1;
}
#reading{
  display: flex;
  justify-content: space-between;
  margin: 0 60px ;
  padding: 50px 0;
}
#reading img{
  width: 200px;
}
.book p{
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.384);
}
.book cite{
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.705);
}




/*CONTACT*/
footer{
    padding-top: 40px;
    padding-bottom: 0px;
  }
  #contact li{
    list-style: none;
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  #contact{
    display: flex;
    justify-content: flex-end;
  }
  #contact img{
    margin-right: 50px;
    width: 25px;
  }
  #end h2{
    font-size: 20px;
  }
  #end h2 a{
    color: #C2847A;
    text-decoration: none;
  }


  /*ADJUST*/
