@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: black;
  --contrast-primary-color: #fff;
}

/* GENERAL */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  font-weight: 400;
  padding: 0px 7px 20px;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}


h3 {
  padding: 20px;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  color: white;
  font-weight: 200;
  font-family: 'Cormorant Garamond', serif;
}
/*NAV BAR*/

.nav-bar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(254, 250, 246);
  width: 100%;
  margin: 0;
  height: 70px;
  align-items: center;
  z-index: 1;
}

.nav-bar img {
  width: 70px;
  z-index: 10000;
}

.btn-mobile {
  padding: 10px;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-size: 1.5rem;
  gap: 5px;
}

#hamb {
  width: 20px;
  height: 20px;
  border-top: 2px black solid;
  transition: .1s;
}

#hamb::after, #hamb::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  position: relative;
  transition: .3s;
}

.active #hamb {
  border-top: none;
}

.active #hamb::before {
  transform: rotate(135deg);
}

.active #hamb::after {
  transform: rotate(-135deg);
  top: -7px;
}

.menu{
  display: flex;
  width: 100%;
  top: 70px;
  position: absolute;
  flex-direction: column;
  align-items: center;
  height: 0;
  justify-content: space-evenly;
  background-color: #161616cb;
  z-index: 1000;
  color: white;
  transition: .6s;
  visibility: hidden;
  font-size: 25px;
  overflow-y: hidden;
 }
 
 .active .menu {
  display: flex;
  height: 100vh ;
  visibility: visible;
  overflow-y: auto;
 }

 .menu li {
  border-bottom: 2px solid gray;
 }

 #social-media-menu li {
  border: none;
 }

 #social-media-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
 }

 /* FIRST SECTION */

#hello{
  padding-top: 80px;
  margin: auto;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#apresentation h1{
  font-family: 'Source Serif Pro', serif;
  font-size: 45px;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 20px;
}

#apresentation {
  margin-bottom: 60px;
}

.extra {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  height: 300px;
  border-radius: 20px;
  color: rgb(254, 250, 246);
}

.extra p {
  align-self: flex-end;
} 

.cat {
  position: absolute;
  height: 170px;
  width: 192.1px;
}

.ear {
  position: absolute;
  top: -60px;
  height: 60%;
  width: 25%;
  background-color: rgb(255, 255, 255);
}

.ear:before {
  content: "";
  position: absolute;
  bottom: 0%;
  height: 70%;
  width: 70%;
  border-radius: 70% 70% 0% 0%/100% 100% 0% 0%;
  background-color: rgb(218, 128, 142);
  box-shadow: inset 0 0 5px #161616;
}

.ear-left {
  left: -2%;
  border-radius: 70% 30% 0% 0%/100% 100% 0% 0%;
  transform: rotate(-15deg);
}

.ear-left:before {
  right: 10%;
}

.ear-right {
  right: -2%;
  border-radius: 30% 70% 0% 0%/100% 100% 0% 0%;
  transform: rotate(15deg);
}

.ear-right:before {
  left: 10%;
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(254, 250, 246);
}

.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background-color: white;
  border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
  box-shadow: inset 0 0 5px #161616;
}

.eye::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  border-radius: 0 0 50% 50%/0 0 40% 40%;
  background-color: #161616;
}

.eye::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background-color: white;
  border-radius: 50%;
}

.eye-left {
  left: 0
}

.eye-left::before{
  right: -5%;
}
.eye-right{
  right: 0;
}

.eye-right::before {
  left: -5%;
}

.ball {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background-color: #161616;
  border-radius: 50%;
  animation: look-around 4s infinite;
}

@keyframes look-around {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(50%, -25%);
  }
  10% {
    transform: translate(50%, -25%);
  }
  15% {
    transform: translate(-100%, -25%);
  }
  20% {
    transform: translate(-100%, -25%);
  }
  25% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.eye-left .ball {
  right: 30%;
}

.eye-right .ball {
  left: 30%;
}

.ball::after {
  content: '';
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.little-muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
  background-color: rgb(204, 121, 121);
}

/*PROJECTS*/
#projects h2{
  text-align: center;
  font-size: 40px;
}
#projects img{
  width: 160px;
}
/*CONTACT*/
hr {
  display: none;
}
footer, footer .social-media {
  display: none;
}

/*ADJUST*/
main{
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

.lightMode {
  background-color: rgb(254, 250, 246);
  color: rgb(22, 22, 22);
}
.darkMode {
  background-color: rgb(22, 22, 22);
  color: rgb(254, 250, 246);
}

@media screen and (min-width: 1024px) { 

  .nav-bar button {
    display: none;
  }

  .menu{   
    display: flex;  
    flex-direction: row;
    align-items: center;
    top: 0;
    height: 70px;
    justify-content: space-evenly;
    background-color: rgb(254, 250, 246) ;
    color: rgb(22, 22, 22);
    z-index: 1000;
    visibility: visible;
   }

   .menu li {
    border-bottom: none;
   }

  #social-media-menu {
    display: none;
  }

  #hello {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
  }

  .extra {
    width: 50%;
    cursor: pointer;
  }

  #apresentation {
    width: 40%;
  }

.social-media{
  display: flex;
}

hr {
  display: block;
}

footer {
  display: flex;
  padding: 15px;
}

footer .social-media {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 21px;
  color: rgb(22, 22, 22);
}

}