@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: black;
  --contrast-primary-color: #fff;
}

/* GENERAL */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  font-weight: 400;
  padding: 0px 7px 20px;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}


h3 {
  padding: 20px;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  color: white;
  font-weight: 200;
  font-family: 'Cormorant Garamond', serif;
}
/*NAV BAR*/

header {
  display: flex;
  justify-content: center;
}

.nav-bar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  height: 70px;
  align-items: center;
  z-index: 1;
  background-color: inherit;
}

.nav-bar img {
  margin-left: 20px;
  width: 50px;
  z-index: 10000;
}

.btn-mobile {
  padding: 10px;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-size: 1.5rem;
  gap: 5px;
  margin-right: 20px;
}

.nav-bar img, .btn-mobile {
  background-color: var(--contrast-primary-color);
  box-shadow: 0rem 0 55px rgba(0, 0, 0, 0.486)
}

#hamb {
  width: 20px;
  height: 20px;
  border-top: 2px var(--primary-color) solid;
  transition: .1s;
}

#hamb::after, #hamb::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  position: relative;
  transition: .3s;
}

.active #hamb {
  border-top: none;
}

.active #hamb::before {
  transform: rotate(135deg);
}

.active #hamb::after {
  transform: rotate(-135deg);
  top: -7px;
}

.menu{
  display: flex;
  width: 100%;
  top: 0px;
  position: absolute;
  flex-direction: column;
  align-items: center;
  left: 100%;
  min-height: 100vh;
  justify-content: space-evenly;
  z-index: 10000;
  color: var(--contrast-primary-color);
  background-color: rgb(0, 0, 0);
  transition: .6s;
  visibility: hidden;
  font-size: 25px;
  overflow-y: hidden;
  z-index: -1;
  padding: 0;
 }
 
 .active .menu {
  display: flex;
  left: 0;
  visibility: visible;
  overflow-y: auto;
 }

 .menu li {
  border-bottom: 2px solid gray;
 }

 #social-media-menu li {
  border: none;
 }

 #social-media-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-self: center;
}

 /* FIRST SECTION */

 main {
  width: 100vw;
}

#appresentation {
  height: 70.1vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.932);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header::after {
  content: '';
  background-image: url(img/noise.gif);
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  position: absolute;
  opacity: 0.9;
  pointer-events: none;
}

#appresentation h1 span:nth-of-type(1) {
  font-size: 2.1rem;
}

#appresentation h1 span:nth-of-type(2), h1 span:nth-of-type(3) {
  font-weight: 900;
}

#appresentation a {
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotate(90deg);
  border: 2px var(--contrast-primary-color) solid;
  position: absolute;
  bottom: 30px;
  border-radius: 50%;
}

#appresentation a::before {
  left: 30px;
  top: 46%;
  content: "";
  width: 18px;
  height: 2px;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

#appresentation a::after {
  top: 46%;
  transform: translate3d(0px, -34%, 90px);
  content: "";
  position: absolute;
  display: inline-block;
  height: 0px;
  width: 0px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid rgb(255, 255, 255);
  right: -16px;
}

#about-my-work {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#about-my-work #about {
  text-align: center;
  padding: 40px 0px;
}

#about p {
  padding: 0 8px;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

#about-my-work #my-work {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

#my-work a {
  margin: 20px 0 20px;
}

#my-work a:nth-of-type(1){
  margin: 0px 0 20px;
}

.vl {
  border-left: 1px solid #666666;
  height: 10vh;
  margin-bottom: 2rem;
}

#kogue, #github, #pixel-art {
  width: 90vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#kogue {
  background-color: #818EAE;
}

#github {
  background-color: #161616;
}

#github i, #kogue i, #pixel-art i {
  color: white;
  font-size: 5rem;
}

#kogue p, #github p, #pixel-art p, footer p {
  font-size: 1.1rem;
  text-align: center;
  color: white;
  padding: 0 20px;
  line-height: 30px;
 }

#pixel-art {
  background-color: #4D3066;
}