@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


@media screen and (min-width: 1024px){
  
  #mobile-btn {
    display: none;
  }

  #web-portfolio header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    z-index: 10000000;
  }

  #web-portfolio nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 20px;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    -webkit-text-stroke: 0.2px var(--page-background);
  }

  #web-portfolio nav a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    -webkit-text-stroke: 0.2px var(--page-background);
  }

  #web-portfolio #lets-talk {
    padding: 2px;
    background: linear-gradient(to right, #d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
    position: relative;
    border-radius: 10px;
    transition: transform 2s;
  }

  #web-portfolio #lets-talk:hover {
    padding: 4px;
  }

  #web-portfolio #lets-talk a {
    border-radius: 10px;
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--page-background);
  }

  .work-menu p {
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .work-menu {
    position: relative;
    display: inline-block;
  }

  .work-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
  }

  .work-list li {
    font-size: 18px;
  }

  .work-list li:hover {
    background: linear-gradient(to right, #d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
    cursor: pointer;
  }

  .work-menu:hover .work-list {
    display: block;
  }

  #web-portfolio header img {
    width: 50px;
    margin-left: 40px;
  }

  #toggle {
    width: 135px;
    background-color: var(--background-color);
    color: var(--contrast-color);
    border: none;
    font-family: 'Dosis', sans-serif;
    -webkit-text-stroke: 0.2px var(--page-background);
    font-size: 15px;
    position: relative;
    margin: auto;
    cursor: pointer;
  }

  .work-menu {
    cursor: pointer;
  }
}

@media screen and (max-width: 915px) {

  #web-portfolio header img {
    width: 14vw;
    margin-left: 30px;
  }

  #mobile-btn {
    border: none;
    background-color: transparent;
    color: var(--contrast-color);
  }

  #web-portfolio header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 10000000;
    background-color: var(--par-background);
  }

  #web-portfolio nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
  }
  
  #menu {
    background-color: var(--par-background);
    display: block;
    gap: 20px;
    list-style-type: none;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    height: 0;
    z-index: 1000000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu button {
    height: 30px;
    text-align: center;
    font-size: 25px;
    text-align: center;
    width: 100vw;
    height: 60px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px var(--contrast-color) solid;
    background-color: transparent;
    color: var(--contrast-color);
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  #menu li:nth-of-type(3) {
    display: none;
  }
  
  #nav-bar.active #menu {
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
  }

}