.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
}

.color {
  width: 40px;
  height: 40px;
  display: inline-block;
}

body {
  background-image: url(../img/wallpapersden.com_stargazing-hd-pixel-art_1920x1080.jpg);
  background-size: cover;
}

#title {
  text-align: center;
  color: #EB836A;
  font-size: 60px;
  margin-top: 10px;
}

#color-palette {
  margin-left: 586px
}

#center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pixel {
  margin-bottom: -4px;
}


.divInput {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.divClear {
  width: 100%;
  display: flex;
  justify-content: center;
}
#clear-board {
  margin-top: 20px;
}